[submodule "not-env-backend"]
	path = not-env-backend
	url = https://github.com/not-env/not-env-backend.git
	branch = main

[submodule "not-env-cli"]
	path = not-env-cli
	url = https://github.com/not-env/not-env-cli.git
	branch = main

[submodule "not-env-sdk-js"]
	path = SDKs/not-env-sdk-js
	url = https://github.com/not-env/not-env-sdk-js.git
	branch = main

[submodule "SDKs/not-env-sdk-python"]
	path = SDKs/not-env-sdk-python
	url = https://github.com/not-env/not-env-sdk-python.git
	branch = main
